{% extends 'base.html' %}

{% block header %}
{% block title %}Update Post: {{ post['title'] }}{% endblock %}
{% endblock %}

{% block content %}
<div class="main-content">
    <form method="POST">
        <input type="text" name="title" placeholder="Title" value="{{ request.form['title'] or post['title'] }}">
        <textarea name="body" rows="10" placeholder="Enter your post...">{{ request.form['body'] or post['body'] }}</textarea>
        <input type="submit" value="Update">
    </form>
</div>
{% endblock %}
