<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="../static/style.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2>Simple Blog</h2>
        <nav>
          <ul>
            {% if g.user %}
              <li>{{ g.user['username'] }}</li>
              <li><a href="">Log Out</a></li>
            {% else %}
              <li><a href="">Register</a></li>
              <li><a href="">Login</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
    </div>
  </body>
</html>
