<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>{% block title %}{% endblock %} - Simple Blog</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2>Simple Blog</h2>
        <nav>
          <ul>
            {% if g.user %}
            <li>{{ g.user['username'] }}</li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
      <div class="content">
        <h3>{% block header %}{% endblock %}</h3>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
